<% @body_id = 'home-page' %>
<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render partial: 'spree/shared/taxonomies' %>
  </div>
<% end %>

<%= render partial: 'spree/home/home_banner' %>

<div class="text-center my-5 pb -5">
  <h2>Who we are</h2>
  <p class="my-5">Founded in the city of Melbourne, Australia. We carefully
  select and only provide good quality products fit for the market</p>
</div>

<div data-hook="homepage_products">
  <% cache(cache_key_for_products) do %>
    <%= render partial: 'spree/shared/products', locals: { products: @products } %>
  <% end %>
</div>

<%= products_structured_data(@products) %>
