<% @body_id = 'home-page' %>
<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render partial: 'spree/shared/taxonomies' %>
  </div>
<% end %>


<div class="container text-center my-5 pb -5">
  <h2>Who we are</h2>
  <p class="my-5">Founded in the city of Melbourne, Australia. We carefully
  select and only provide good quality products fit for the market</p>
</div>

<div class="container">
  <div data-hook="homepage_products">
    <h2>New Products</h2>
    <% cache(cache_key_for_products) do %>
      <%= render partial: 'spree/shared/products', locals: { products: @products } %>
    <% end %>
  </div>
</div>

<%= products_structured_data(@products) %>
